include includes/header
<body class="event">
include includes/nav
include includes/toolbar

#page.text
	.container
		.content
			.bold
				h1 Шрифт Marsfont Medium
				h2 Съешь ещё этих мягких французских булок, да выпей чаю.
				h3 Съешь ещё этих мягких французских булок, да выпей чаю.
				h4 Съешь ещё этих мягких французских булок, да выпей чаю.
				h5 Съешь ещё этих мягких французских булок, да выпей чаю.
				h6 Съешь ещё этих мягких французских булок, да выпей чаю.
				p Съешь ещё этих мягких французских булок, да выпей чаю.
				small Съешь ещё этих мягких французских булок, да выпей чаю.
			.regular
				h1 Шрифт Marsfont Regular
				h2 Съешь ещё этих мягких французских булок, да выпей чаю.
				h3 Съешь ещё этих мягких французских булок, да выпей чаю.
				h4 Съешь ещё этих мягких французских булок, да выпей чаю.
				h5 Съешь ещё этих мягких французских булок, да выпей чаю.
				h6 Съешь ещё этих мягких французских булок, да выпей чаю.
				p Съешь ещё этих мягких французских булок, да выпей чаю.
				small Съешь ещё этих мягких французских булок, да выпей чаю.
			.light
				h1 Шрифт Marsfont Light
				h2 Съешь ещё этих мягких французских булок, да выпей чаю.
				h3 Съешь ещё этих мягких французских булок, да выпей чаю.
				h4 Съешь ещё этих мягких французских булок, да выпей чаю.
				h5 Съешь ещё этих мягких французских булок, да выпей чаю.
				h6 Съешь ещё этих мягких французских булок, да выпей чаю.
				p Съешь ещё этих мягких французских булок, да выпей чаю.
				small Съешь ещё этих мягких французских булок, да выпей чаю.

include includes/footer